/* TODO(you): Write the CSS to finish the assignment! */

body {
    width: 700px;
    margin: auto;
    font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    color: #222222;
}

#header {
    display: flex;
    font-family: 'Helvetica', sans-serif;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border: #ccc thick 1px;
}
#header #course_name {
    font-size: 32px;
    font-weight: bold;
    color: #ee3322;
}

/*MERN char*/
#mern_stack {
    display: flex;
}
#mern_stack .character {
    background-color: #ffee00;
    font-weight: bold;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    transform: rotate(-30deg);
    line-height: 50px;
}

/* Quiz name*/
#quiz-name {
    background-image: url('images/background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 425px;


}
/*HTML quiz*/
#quiz-name h1 {
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Pangolin', 'Trebuchet MS', cursive;
    font-size: 60px;
    color: black;
    padding: 10px;
}

/*Author*/
#author p {
    font-size: 14px;
    text-align: center;
}

/*Introduction*/
#introduction div {
    text-align: center;
}

/*start box*/
.start-box {
    background-color: #f1f1f1;
    padding: 18px 0px;
    margin-top: 36px;
    text-align: center;
    font-size: 18px;
    color: #222222;
    line-height: 18px;
    border-style: solid;
    border-width: 3px;
    border-color: #dcdcdc;
}

/*submit box*/
.submit-box {
    background-color: #f1f1f1;
    padding: 18px 0px;
    margin-top: 18px;
    text-align: center;
    font-size: 18px;
    color: #222222;
    line-height: 18px;
}

/* button*/
#button {
    color: white;
    border: none;
    padding: 18px;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/*start + try again button*/
.start-button, .try-again-button{
    background-color: #2196f3;
}
.start-button:hover, .try-again-button:hover {
    background-color: #0d8bf2;
}

/*submit button*/
.submit-button{
    background-color: #4caf50;
}
.submit-button:hover {
    background-color: #46a049;
}

/*questions form*/
#quesTitle {
    margin: 30px 0px;
}

#quesName{
    margin: 18px 0px;
}

/*answer form*/
.ansForm {
    display: flex;
    align-items: center;
    position: relative;
}

label {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 15px 0px 15px 45px;
    border-bottom: 1px solid white;
    font-size: 18px;
    cursor: pointer;
}

label:hover {
    background-color: #ddd;
}

input[type="radio"]:checked+label {
    background: #ddd;
}

input {
    margin-right: 15px;
    margin-left: 15px;
    position: absolute;
    cursor: pointer;
}

/*result box*/
.resultBox {
    background-color: #f1f1f1;
    padding: 18px 0px;
    margin-top: 36px;
    text-align: center;
    font-size: 18px;
    color: #222222;
    line-height: 18px;
    border-style: solid;
    border-width: thick;
    border-color: #dcdcdc;
}

.correct, .wrong {
    position: absolute;
    color: white;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    font-size: 18px;
}

.result-title {
    font-size: 50px;
    font-weight: bolder;
}

/*responsive*/
@media only screen and (max-width: 700px) {
    .content {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    #mern_stack {
        display: none;
    }
    .answer {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 620px) {
    .correct,
    .wrong {
        font-size: 0.8rem;
        width: 15%;
    }
}